server:
  port: 8088

spring:
  datasource:
    url: jdbc:mysql://120.53.241.163:30768/stock_master?useSSL=false&characterEncoding=utf-8&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8
    username: root
    password: adminadmin
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: 120.53.241.163
    port: 30657
    timeout: 1000
    database: 0
    password: adminadmin

ocr:
  service: aliyunOcrService
  third:
    aliyun:
      appcode:
    chaojiying:
      user:
      pass:
      softid: 000000

logging:
  file:
    name: /logs/stock-service.log
  logback:
    rollingpolicy:
      max-history: 30
  level:
    root: info
    org.springfromework.web: info
    org.springframework.jdbc: debug
